@charset "utf-8";

/* Elementos */

body {
	font-family: verdana;
	font-size: 12px;
	color: #333;
}

a { text-decoration: none; color: #1E4785; }
a:hover { text-decoration: underline; color: #e80; }


#conteiner {
	width: 770px;
	margin: 0 auto 5px auto;
}

h1 {
	font-size: 3em;
	padding-top: 30px;
}

h2 {
	border-bottom: 1px solid #E80;
	color: #E80;
	margin: 10px 0 10px 0;
	padding: 3px 0;
	font-size: 16px;
}

h3 {
	margin: 10px 0;
	font-size: 14px;
}

.submenu {
	margin-bottom: 4px;
}

.submenu li {
	display: inline;
	margin-right: 5px;
}

fieldset {
	border: 1px solid #ccc;
	background-color: #eee;
	padding: 10px;
}

fieldset textarea {
	width: 99%;	
}

fieldset p {
	padding: 5px 0;
}

fieldset p input, fieldset p textarea {
	border: 1px solid #666;
	padding: 2px;
}

fieldset p.submit {
	border-top: 1px solid #333;
}

fieldset p.submit input {
	cursor: pointer;
}

fieldset label {
	display: block;
	font-weight: bold;
	line-height: 17px;
}

fieldset span {
	display: block;
	color: #333;
	font-style: italic;
}

table {
	border-collapse: collapse;
}

table tr th {
	font-weight: bold;
	text-align: left;
	padding: 3px;
}

table tr.hover td {
	background-color: #E1EFF6;
}

table tr td, table tr th {
	padding: 3px;
	border-bottom: 1px solid #efefef;
	vertical-align: middle;
}

#lang {
	float: right;
	margin-top: 5px;
}

#lang li {
	display: inline;
	margin-right: 10px;
}

.hidetxt {
	overflow: hidden;
	text-indent: -1000px;
}

#message {
	margin: 10px 20px;
	padding: 15px;
}

#message.error {
	background-color: #fcc;
	border: 1px solid #f55;
}

#message.ok {
	background-color: #ffc;
	border: 1px solid #ff5;
}

#message p {
	padding: 5px;
	font-weight: bold;
}

#message li {
	list-style: circle inside;
	padding-left: 20px;
	line-height: 17px;
}

#rodape {
	text-align: center;
	background-color: #eee;
	padding: 10px;
	border-top: 1px solid #aaa;
	margin-top: 5px;
}

.hide {
	display: none;
}
